{% comment %}
  Add content to be output at the bottom of each page. (You might use this for analytics scripts, for example)
{% endcomment %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ root_url }}/js/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ root_url }}/js/bootstrap.min.js"></script>
<script src="{{ root_url }}/js/jquery.easing.min.js"></script>
<script src="{{ root_url }}/js/jquery.stellar.js"></script>
<script src="{{ root_url }}/js/jquery.appear.js"></script>
<script src="{{ root_url }}/js/jquery.nicescroll.min.js"></script>
<script src="{{ root_url }}/js/jquery.countTo.js"></script>
<script src="{{ root_url }}/js/jquery.shuffle.modernizr.js"></script>
<script src="{{ root_url }}/js/jquery.shuffle.js"></script>
<script src="{{ root_url }}/js/owl.carousel.js"></script>
<script src="{{ root_url }}/js/jquery.ajaxchimp.min.js"></script>
<script src="{{ root_url }}/js/script.js"></script>
