<section class="home" id="home" data-stellar-background-ratio="0.4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="st-home-unit">
                    <div class="hero-txt">
                        {% if site.subtitle %}
                            <p class="hero-sub-title hero-work">{{ site.subtitle }}</p>
                        {% endif %}
                        <h2 class="hero-title">{{ site.title }}</h2>
                        <a href="#blog" class="btn btn-main btn-lg">更多</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="mouse-icon"><div class="wheel"></div></div>
</section>
